.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@keyframes pulse {
  0% {
  box-shadow: 0 0 0 0 rgba(0,0,0, 0),
              0 0 0 0 rgba(0,0,0, 0),
              0 0 0 0 rgba(0,0,0, 0),
  }

  10% {
    box-shadow: 0 0 0 .1rem rgba(0,0,0, 0.1),
                0 0 0 .2rem rgba(0,0,0, 0.2),
                0 0 0 .3rem rgba(0,0,0, 0.3),
  }

  20% {
    box-shadow: 0 0 0 .2rem rgba(0,0,0, 0.2),
                0 0 0 .4rem rgba(0,0,0, 0.3),
                0 0 0 .6rem rgba(0,0,0, 0.4),
  }

  30% {
    box-shadow: 0 0 0 .4rem rgba(0,0,0, 0.3),
                0 0 0 .8rem rgba(0,0,0, 0.4),
                0 0 0 1.2rem rgba(0,0,0, 0.5),
  }

  40% {
    box-shadow: 0 0 0 .8rem rgba(0,0,0, 0.4),
                0 0 0 1.6rem rgba(0,0,0, 0.5),
                0 0 0 2.4rem rgba(0,0,0, 0.6),
  }

  50% {
    box-shadow: 0 0 0 1.6rem rgba(0,0,0, 0.5),
                0 0 0 3.2rem rgba(0,0,0, 0.6),
                0 0 0 4.8rem rgba(0,0,0, 0.7),
  }

  60% {
    box-shadow: 0 0 0 .8rem rgba(0,0,0, 0.6),
                0 0 0 1.6rem rgba(0,0,0, 0.7),
                0 0 0 2.4rem rgba(0,0,0, 0.8),
  }

  70% {
    box-shadow: 0 0 0 .4rem rgba(0,0,0, 0.7),
                0 0 0 .8rem rgba(0,0,0, 0.8),
                0 0 0 1.2rem rgba(0,0,0, 0.9),
  }

  80% {
    box-shadow: 0 0 0 .2rem rgba(0,0,0, 0.8),
                0 0 0 .4rem rgba(0,0,0, 0.9),
                0 0 0 .6rem rgba(0,0,0, 1),
  }

  90% {
    box-shadow: 0 0 0 .1rem rgba(0,0,0, 0.9),
                0 0 0 .2rem rgba(0,0,0, 1),
                0 0 0 .3rem rgba(0,0,0, 1.1),
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0,0,0, 0),
                0 0 0 0 rgba(0,0,0, 0),
                0 0 0 0 rgba(0,0,0, 0),
  }
}


.enter-button button {
  height: 50px;
  width: 50px;
  border: 0;
  opacity: 0.3;
  background: rgba(174, 219, 228, 0.9);
  animation: pulse 1.5s infinite;
  border-radius: 50%;
}
