.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@keyframes pulse {
  0% {
  background: rgba(174, 219, 228, 0.9);
  }

  25% {
  background: rgba(136, 202, 215, 0.9);
  }

  50% {
  background: rgba(98, 185, 202, 0.9);
  }

  75% {
  background: rgba(62, 166, 187, 0.9);
  }

  100% {
  background: rgba(49, 132, 149, 0.9);
  }
}


.enter-button button {
  height: 50px;
  width: 50px;
  border: 0;
  opacity: 0.3;
  background: rgba(174, 219, 228, 0.9);
  animation: pulse 1.5s infinite;
  border-radius: 50%;
}
