.check-in {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.pageheader {
  padding: 2rem 1rem;
}

.register-form {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

input {
  border: none;
  border-bottom: 1px solid white;
  background: none;
  margin-bottom: 1.5rem;
  padding-left: 0.2rem;
  font-size: 1rem;
  color: red;
}

@keyframes border-pulse {

  0% {
    opacity: 0;
    border:  3px solid red;
  }

  100% {
    opacity: 1;
    border: 3px solid red;
  }
}

.validate {
  input, select, textarea {
    &.ng-invalid {
  animation: border-pulse 1s infinite;
}
}
}

select {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  color: red;
  font-size: 1rem;
}

input::placeholder {
  color:red;
}

.button {
  flex: 0.5;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  text-align: center;
}

.button, input {
  width: 100%;
}
